<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commonHeader :: commonHeaderFragment"></head>
<head></head>
<body>
<div th:insert="navbar :: navbarFragment"></div>
<div class=".board-details">
<div class="container mt-5">
  <h2 class="mb-4">보드 수정</h2>
  <form id="boardUpdateForm">
    <div class="mb-3">
      <label for="boardId" class="form-label">보드 ID</label>
      <input type="number" class="form-control" id="boardId" required>
    </div>
    <div class="mb-3">
      <label for="boardName" class="form-label">보드 이름</label>
      <input type="text" class="form-control" id="boardName" required>
    </div>

    <div class="mb-3">
      <label for="boardColor" class="form-label">보드 색상</label>
      <input type="text" class="form-control" id="boardColor" required>
    </div>

    <div class="mb-3">
      <label for="boardInfo" class="form-label">보드 정보</label>
      <textarea class="form-control" id="boardInfo" rows="3" required></textarea>
    </div>

    <button type="button" class="btn btn-primary" onclick="updateBoard()">수정하기</button>
  </form>
</div>
</div>
<script>
  function updateBoard() {
    var boardId = document.getElementById('boardId').value;
    var data = {
      boardName: document.getElementById('boardName').value,
      boardColor: document.getElementById('boardColor').value,
      boardInfo: document.getElementById('boardInfo').value
    };

    fetch(`/api/board/${boardId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
            .then(response => response.json())
            .then(data => {
              if(data) {
                alert('보드가 수정되었습니다.');
              } else {
                alert('보드 수정 실패!');
              }
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }
</script>

</body>

</html>
