<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commonHeader :: commonHeaderFragment"></head>


  <title>보드 뷰</title>

  <style>
    .background {
      margin-top: 70px;
    }

    .btn {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #333333;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }

    .btn:hover {
      background-color: #555555;
    }
  </style>
</head>
<body>
<div th:insert="navbar :: navbarFragment"></div>
<div class="background">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div th:each="column : ${boardData.boardColumns}" class="col">
      <div class="card h-100">
        <img src="https://img.freepik.com/free-icon/clipboard-variant-with-pencil-and-check-mark-variant_318-49518.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" th:text="${boardData.boardName}">Board name</h5>
          <p class="card-text" th:text="${boardData.boardInfo}">Board info</p>
        </div>
        <ul class="list-group list-group-flush">
          <div th:each="card : ${column.cards}">
            <a th:href="'/user/card/' + ${card.cardId}" class="card-link">
              <li class="list-group-item" th:text="${card.cardName}">카드 이름</li>
            </a>
          </div>
        </ul>
        <a href="/user/board" class="btn btn-warning">보드 생성</a>
        <a href="/user/column/create" class="btn btn-warning">컬럼 생성</a>
      </div>
    </div>
  </div>
</div>
<form id="boardCreateForm">

</form>
<script>
</script>
</body>
</html>
