<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commonHeader :: commonHeaderFragment"></head>

</head>

<body>
<div th:insert="navbar :: navbarFragment"></div>
<div class=".board-details">
<div class="container mt-5">
  <h2 class="mb-4">보드 삭제</h2>
  <form id="boardDeleteForm">
    <div class="mb-3">
      <label for="boardId" class="form-label">삭제할 보드 ID</label>
      <input type="number" class="form-control" id="boardId" required>
    </div>

    <button type="button" class="btn btn-danger" onclick="deleteBoard()">삭제하기</button>
  </form>
</div>
</div>
<script>
  function deleteBoard() {
    var boardId = document.getElementById('boardId').value;

    fetch(`/api/board/${boardId}`, {
      method: 'DELETE'
    })
            .then(response => response.json())
            .then(data => {
              if(data) {
                alert('보드가 삭제되었습니다.');
                window.location.href = '/main';
              } else {
                alert('보드 삭제 실패!');
              }
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }
</script>

</body>

</html>
