<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commonHeader :: commonHeaderFragment"></head>


    <title>컬럼 수정</title>
    <style>
        .column-detail {
            margin-top: 200px;
            border: 1px solid #e0e0e0;
            padding: 20px;
            border-radius: 8px;
            margin: 100px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .column-detail p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div th:insert="navbar :: navbarFragment"></div>

<div class="column-detail">
<div class="container mt-5">
    <h2>컬럼 수정</h2>
    <form id="updateColumnForm">
        <div class="mb-3">
            <label for="columnId" class="form-label">컬럼 ID</label>
            <input type="number" class="form-control" id="columnId" name="columnId" required>
        </div>
        <div class="mb-3">
            <label for="columnName" class="form-label">새로운 컬럼 이름</label>
            <input type="text" class="form-control" id="columnName" name="columnName" required>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $("#updateColumnForm").on("submit", function(e) {
            e.preventDefault();

            const formData = {
                columnId: $("#columnId").val(),
                columnName: $("#columnName").val()
            };

            $.ajax({
                type: "PUT",
                contentType: "application/json",
                url: "/api/column",
                data: JSON.stringify(formData),
                dataType: "json",
                success: function() {
                    alert("컬럼 수정에 성공하였습니다");  // 예상 응답에 따라 수정이 필요합니다.
                    window.history.back();
                },
                error: function(error) {
                    alert("컬럼 수정에 실패하였습니다.");
                }
            });
        });
    });
</script>

</body>
</html>
