<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="commonHeader :: commonHeaderFragment"></head>


  <title>컬럼 상세 정보</title>
  <style>
    .column-detail {
      margin-top: 200px;
      border: 1px solid #e0e0e0;
      padding: 20px;
      border-radius: 8px;
      margin: 100px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .column-detail p {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div th:insert="navbar :: navbarFragment"></div>


<div class="column-detail">
  <p><strong>컬럼 이름:</strong> <span th:text="${columnData.columnName}"></span></p>
  <p><strong>컬럼 번호:</strong> <span th:text="${columnData.columnNo}"></span></p>
  <h3>카드 목록</h3>
  <ul>
    <li th:each="card : ${columnData.cards}" th:text="${card.cardName}"></li>
  </ul>
  <button onclick="goBack()">이전 페이지로 돌아가기</button>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>
